.image-container {
      position: relative;
      display: inline-block;
      
      /*width: 300px;*/ /* adjust as needed */
      /*height: 200px;*/
      /*overflow: hidden;*/
      /*border-radius: 12px;*/ /* rounded corners */
      
      cursor: pointer;
}

.image-container img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 0.4s ease;
}

H1 {
color: grey;
}

p {
color: grey;
}


a {
color: grey;
text-decoration: none; /* Removes default underline */
}

/* Color when hovering over the link */
a:hover {
color: white; /* New color on hover */
text-decoration: none; /* Adds underline on hover */
}

.link-large {
font-size: 24px; /* Makes the text significantly larger */
}
.link-small {
font-size: 12px; /* Makes the text smaller */
}

.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); /* semi-transparent black */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      opacity: 0;
      transition: opacity 0.4s ease;
    }

    .image-container:hover img {
      transform: scale(1); /* zoom in effect */
    }

    .image-container:hover .overlay {
      opacity: 1; /* show text */
    }
